body {
    image-rendering: pixelated;
    color: white;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

#wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

#background-image {
    width: 100vw;
    height: 100vh;
    object-fit: fill;
    display: block;
    max-width: 100vw;
    max-height: 100vh;
    pointer-events: none;
}

#pc {
    position: absolute;
    top: 12.8%;
    left: 27.8%;
    width: 44.1%;
    height: 73.9%;
    border: none;
    box-shadow: 0 0 8px #000a;
    background: #222;
}
