body {
    justify-content: flex-start;
    padding-top: 5rem;
}

#container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

label, #todo, #submit {
    font-size: 1.25rem;
}

#todo {
    height: 2.5rem;
}

#submit {
    border-radius: 1vw;
    height: 2.5rem;
    width: 2.5rem;
}

#todos {
    list-style: none;
    padding: 0;
    margin-top: 1em;
}

#todos li {
    padding: 0.5em 0;
}

.completed {
    text-decoration: line-through;
    color: #aaa;
}