h1 {
    margin-bottom: 4vw;
}

button {
    font-size: 3vw;
    padding: 1em 2em;
    border-radius: 1em;
}

@media (max-width: 600px) {
    body {
        font-size: 4vw;
    }

    h1 {
        font-size: 10vw;
    }

    button {
        font-size: 6vw;
        padding: 1.5em 3em;
    }
}