body {
    padding: 0;
    background-color: #5a406d;
}

#container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

button {
    background: none;
    border: none;
    height: 20vh;
    width: 20vh;
    padding: 0;
    display: flex;
    align-content: center;
    align-items: center;
}

img {
    height: 100%;
    width: 100%;
}
