:root {
    --button-size: min(8vw, 15vh)
}

#container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

h1 {
    text-align: center;
}

#output {
    width: 80vw;
    height: min(5rem, 20vh);
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
}

#equation, #answer {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

#equation {
    background-color: #111;
    border-top-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem;
}

#answer {
    background-color: #000;
    border-bottom-left-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
}

.in-progress {
    color: #949494;
}

#inputs {
    display: grid;
    grid-template-columns: repeat(4, var(--button-size));
    gap: 0.3vw;
    justify-content: center;
}

#inputs > button {
    width: var(--button-size);
    height: var(--button-size);
    line-height: var(--button-size);
    font-size: 2rem;
    border-radius: 25%;
    margin: 0.05em;
}

.symbol {
    background-color: #000c3d;
}

.number {
    background-color: #000415;
}

.special {
    background-color: #633a00;
}