body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vw;
}

p {
    font-size: 6vw;
    margin: 0;
}

#dots {
    font-size: 6vw;
}

@media (max-width: 600px) {
    body {
        font-size: 7vw;
    }

    p, #dots {
        font-size: 10vw;
    }
}