
#container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

iframe {
    border: none;
    height: 90vh;
    width: 100vw;
    max-width: 100vw;
    max-height: 90vh;
}

#taskbar {
    box-sizing: border-box;
    padding: 0.5vh 1vw;
    background-color: #270f36;
    height: 10vh;
    font-size: 5vw;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#taskbar button {
    background: none;
    padding: 0.5em;
    margin: 0 0.2em;
    width: 2.5em;
    height: 2.5em;
}

#taskbar img {
    width: 2em;
    height: 2em;
}

@media (max-width: 600px) {
    #taskbar {
        font-size: 8vw;
        height: 12vh;
    }

    iframe {
        height: 88vh;
    }
}