body {
    background-color: #222;
    color: white;
    margin: 0;
    overflow: hidden;
}

#container {
    display: flex;
    flex-direction: column;
}

iframe {
    border: none;
    height: 90vh;
    width: 100vw;
}

#taskbar {
    background-color: #270f36;
    height: 10vh;
    font-size: 7vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}