body {
    color: white;
}

ul {
    list-style: none;
}

.hidden {
    display: none;
}

#weather-days {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.day {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: 5%;
    width: 90vw;
    max-width: 350px;
    height: 90vw;
    max-height: 350px;
    margin: 1vw;
    box-sizing: border-box;
}

.weather {
    width: 40vw;
    max-width: 120px;
    height: 40vw;
    max-height: 120px;
}

.title {
    text-align: center;
    font-size: 6vw;
    max-font-size: 32px;
    margin: 0;
}

.subtitle {
    text-align: center;
    font-size: 4vw;
    max-font-size: 24px;
    margin: 0;
}

@media (min-width: 600px) {
    .day {
        width: 30vw;
        height: 30vw;
        max-width: 250px;
        max-height: 250px;
    }
    .weather {
        width: 15vw;
        height: 15vw;
        max-width: 80px;
        max-height: 80px;
    }
    .title {
        font-size: 3.5vw;
        max-font-size: 28px;
    }
    .subtitle {
        font-size: 3vw;
        max-font-size: 20px;
    }
}

@media (min-width: 900px) {
    .day {
        width: 18vw;
        height: 18vw;
        max-width: 180px;
        max-height: 180px;
    }
    .weather {
        width: 8vw;
        height: 8vw;
        max-width: 60px;
        max-height: 60px;
    }
    .title {
        font-size: 2vw;
        max-font-size: 22px;
    }
    .subtitle {
        font-size: 1.5vw;
        max-font-size: 16px;
    }
}